<!-- <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p> -->
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">

    <div class="logoContainer">
      <img class="logo" src="./assets/img/path898.png">
    </div>
    <ul class="list">
      <li [routerLink]=" '/' "><mat-icon class="example-icon">grid_view</mat-icon>Dashboard</li>
      <li [routerLink]=" '/news' "><mat-icon class="example-icon">feed</mat-icon>News</li>
      <li [routerLink]=" '/user' "><mat-icon class="example-icon">person</mat-icon>User</li>
    </ul>
   <!--  <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button> -->
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary" class="toolbarContainer">
      <mat-toolbar-row>
        <mat-icon class="example-icon" (click)="drawer.toggle()">menu</mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="routerContainer">
    <router-outlet></router-outlet>
  </div>
 

</mat-drawer-container>








<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container> -->


<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer> -->
<!-- <mat-drawer-content>Main content</mat-drawer-content> -->
<!--   <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row> -->
<!-- <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p> -->
<!--         <p><button>sidenav</button></p>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

</mat-drawer-container> -->