.welcome-container {
    background-color: rgb(0,204,155);
    border-radius: 20px;
    width: 90%;
    padding:5%;
    color:white;
    margin-bottom:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}