<h1>Users</h1>
<mat-card class="formatTable">
    <mat-card-content>
        <table class="userTable">
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Birthdate</th>
                <th>City</th>
            </tr>
            <tr *ngfor="let user of allUsers">
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.birthDate}}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.city }}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>

<div class="buttonUserContainer">
    <button (click)="openDialog()" mat-fab color="primary" matTooltip="Add User">
        <mat-icon>add</mat-icon>
    </button>
</div>