<mat-card>
    <mat-card-content>
<table class="userTable">
    <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>Birthdate</th>
        <th>City</th>
    </tr>
    <tr>
        <td>swer</td>
        <td>E-ersdgfMail</td>
        <td>wer</td>
        <td>wer</td>
    </tr>
    
</table>
    </mat-card-content>
  </mat-card>

<div class="buttonUserContainer">
    <button (click)="openDialog()" mat-fab color="primary" matTooltip="Add User">
        <mat-icon >add</mat-icon>
    </button>
</div>