<h1>Users</h1>
<mat-card class="formatTable">
    <mat-card-content>
        <table class="userTable">
            <tr>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Birthdate</th>
                <th>City</th>
            </tr>
            <!-- $any - nimmt alle Daten, die es bekommt unabhängig vom Datentyp -->
            <tr *ngFor="let user of allUsers$ | async" routerLink="/user/{{user['customIDName']}}">
            <!-- <tr *ngFor="let user of $any(allUsers)" (click)="getClickedUser(user.mail)"></tr> -->
            
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.birthDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{ user.city }}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>

<div class="buttonUserContainer">
    <button (click)="openDialog()" mat-fab color="primary" matTooltip="Add User">
        <mat-icon>add</mat-icon>
    </button>
</div>