.infoContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.newsContainer {
    display: flex;
    flex-direction: column;
    width:50%;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding:5%;
}

.example-card {
    max-width: 340px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.widthNews {
    width: 80%;
}

.arrangeContent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(72, 127, 209);

    &:hover {
        text-decoration: underline;
    }
}

.spaceImg {
    object-fit: cover;
    width: 80px;
    height: auto;
    /* padding: 8px; */
    border-radius: 5px;
    margin-right: 20px;
}

.spaceLink {
    padding: 0;
}

.dataSource {
    margin: 2em 0;
}

.birthdayContainer {
    width:40%;
    /* background-color: rgba(0, 0, 0, 0.1); */
    background-color: rgba(20,161,191, 0.2);
    border-radius: 20px;
    padding:5%;
    gap: 20px;
}