<app-welcome></app-welcome>

<div class="infoContainer">
    <div class="newsContainer">
        <div>
            <h2>Latest Trending TechNews from TechCrunch</h2>
        </div>
        <!-- <ng-container *ngFor="let article of articles | slice:0:3"> -->
        <ng-container *ngFor="let article of articles">
            <mat-list class="arrangeContent">
                <div>
                    <img class="spaceImg" [src]="article.urlToImage" alt="Photo of the article">
                </div>
                <div class="widthNews">
                    
                    <div matListItemLine>{{article.publishedAt | date:'yyyy-MM-dd'}}</div>
                    <div matListItemTitle><a class="spaceLink" color="primary" href="{{ article.url }}" target="_blank">{{article.title}}</a></div>
                </div>
            </mat-list>
        </ng-container>
        <div><a [routerLink]=" '/news' ">view more news ...</a></div>
    </div>
    <div class="birthdayContainer">
        <div>
            <h2>Upcomming Birthdays of your users</h2>
        </div>
        <ng-container>
            <mat-list class="arrangeContent">
                <div>
                    <!-- <img class="spaceImg" [src]="article.urlToImage" alt="Photo of the article"> -->
                </div>
                <div class="widthNews">
                    <div matListItemLine>Datum</div>
                    <div matListItemTitle>Name Vorname</div>
                    <!-- <div matListItemLine>{{ user.birthDate | date:'yyyy-MM-dd'}}</div>
                    <div matListItemTitle><a class="spaceLink" color="primary" href="{{ }}">{{ user.firstName }} {{ user.lastName }}</a></div> -->
                </div>
            </mat-list>
        </ng-container>
    
    </div>
</div>


